{#
/**
 * @file
 * Template for the custom panel page header.
 *
 * Variables:
 * - title:      The current page title (string or render array).
 * - role_label: Label do papel do usuário logado (ex: "Estudante", "Empresa", "Moderador").
 * - painel_url: URL absoluta para /painel (home do painel).
 */
#}
<div class="painel-page-header">
  <nav class="painel-breadcrumb" aria-label="{{ 'Navegação do painel'|t }}">
    <ol class="painel-breadcrumb__list">
      <li class="painel-breadcrumb__item">
        <a href="{{ painel_url }}" class="painel-breadcrumb__link" title="{{ 'Início do painel'|t }}">
          <i class="fa-solid fa-house" aria-hidden="true"></i>
          <span class="visually-hidden">{{ 'Início do painel'|t }}</span>
        </a>
      </li>
      <li class="painel-breadcrumb__sep" aria-hidden="true">
        <i class="fa-solid fa-chevron-right"></i>
      </li>
      <li class="painel-breadcrumb__item">
        <a href="{{ painel_url }}" class="painel-breadcrumb__link">{{ 'Painel'|t }}</a>
      </li>
      {% if role_label %}
        <li class="painel-breadcrumb__sep" aria-hidden="true">
          <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li class="painel-breadcrumb__item">
          <span class="painel-breadcrumb__text">{{ role_label }}</span>
        </li>
      {% endif %}
      {% if title %}
        <li class="painel-breadcrumb__sep" aria-hidden="true">
          <i class="fa-solid fa-chevron-right"></i>
        </li>
        <li class="painel-breadcrumb__item painel-breadcrumb__item--current" aria-current="page">
          <span class="painel-breadcrumb__text">{{ title }}</span>
        </li>
      {% endif %}
    </ol>
  </nav>
  {% if title %}
    <h1 class="painel-page-header__title">{{ title }}</h1>
  {% endif %}
</div>
