{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('block_breakpoint/block_breakpoint') }}

{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% block content %}
    <div{{ content_attributes.addClass('content', 'cto-content') }}>
      <div class="cto-content-desktop" data-breakpoint="default.desktop">
        {% set background_image = content.field_image|render|striptags|trim|replace({ '"': '', "'": '' }) %}
        <section class="cto-image" style="background-image: url('{{ background_image|e('html_attr') }}');">
          <div class="cto-overlay-content container text-center">
            <div class="cto-title"><h3 class="text-white">{{ content.field_text_simple|render|striptags|trim }}</h3></div>
            <div class="cto-body text-white">{{ content.field_text_simple_long|render|striptags|trim }}</div>
            <div class="cto-actions">
              <div class="cto-action-primary">{{ content.field_link }}</div>
            </div>
          </div>
        </section>
      </div>
    </div>
  {% endblock %}
</div>
